/*=============tag selector=============*/

a:link {
  color: darkGreen;
  text-decoration: none;
}

a:visited {
  color: darkGreen;
  text-decoration: none;
}

a:hover {
  color: #B1E97D;
  text-decoration: none;
}

a:active {
  color: #EEE4EE;
  text-decoration: none;
}

body{
  background-color: #101c2d;
  border: 5px solid #B1E97D;
  font-family: 'Fredoka One', fredoka-one;
  margin: 20px;
  padding: 2%;
}

h1{
  color: #739455;
}

h2{
  color: #B1E97D;
}

hr{
  border-style: none;
  background-color:#101c2d;
  border-color: #739455;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%;
}

label{
  color: #EEE4EE;
}

p{
  color: #EEE4EE;
  letter-spacing: 0.1em;
  line-height: 200%;
}

ul{
  color: #EEE4EE;
  letter-spacing: 0.1em;
  line-height: 200%;
  word-spacing: 0.4em;
}

/*=============class selector=============*/

.brightGreen{
  color: #B1E97D;
}

.center{text-align: center;}

.darkGreen{
  color: #739455;
}

.div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 40vh;
}

.emailTextBox{
  width: 278px;
  height: 152px;
}

.h-1{font-size: 75px;}

.smallLine{
  border-style: solid;
  border-width: 3px;
  width: 20%;
}

.submit{
  width: 278px;
  height: 50px;
  border: none;
  color: white;
  background-color: #739455;
  border-radius: 4px;

  box-shadow: inset 0 0 0 #B1E97D;
  transition: ease-out 0.3s;
  font-size: 1rem;
}

.submit:hover{
  box-shadow: inset 500px 0 0 0 #B1E97D;
  cursor: pointer;
  color: #292739;
}

.submit:active{
  box-shadow: inset 500px 0 0 0 #292739;
  cursor: pointer;
  color: #B1E97D;
}

.textBox{
  border-radius: 4px;
  border-style: none;
}

.wt{color: #EEE4EE;}


/*=============id selector=============*/
